<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .answers{
            display: flex;
            flex-direction: column;
        }
        .edt{
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <input type="hidden" id="editid" name="editid">
            <input type="hidden" id="editname" name="editname">
            <button onclick="add_submition()">Submit</button>
        </form>
        <div class="answers">
            {% for i in all %}
            <span>welcome : {{i.name}} <button class="edt" onclick="editing('{{i.id}}')">edit</button> <button class="del"  onclick="deleting('{{i.id}}')">delete</button> </span>
            {% endfor %}
        </div>
    </div>
    <script>
        function add_submition() {
            var name = document.getElementById("name").value;
            var editid = document.getElementById("editid").value;
            var editname = document.getElementById("name").value;

            let formData = new FormData();

            if(editid==null|| editid==""){

                formData.append('name',name)
    
                fetch(`/register/`,{method:'post',body:formData})
            }else{
                let formData_2 = new FormData();
                formData_2.append('editid',editid)
                formData_2.append('editname',editname)
                fetch(`/edit_register/`,{method:'post',body:formData_2})
            }
        }

        function editing(data){
            fetch(`/register_get_id/${data}`)
            .then(res=>res.json())
            .then(res=>{
                document.getElementById('name').value = res.Result.name
                document.getElementById('editid').value = res.Result.id
                document.getElementById('editname').value = res.Result.name
            })
        }

        function deleting(data){
            fetch(`/delete_registery/${data}`)
            .then(location.reload())
        }
    </script>
</body>
</html>